.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.calculator input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.calculator .buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
}

.calculator #result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 10px;
}